map_type: costmap

# The default maximum distance from the robot at which an obstacle 
# will be inserted into the cost map in meters. 
# This can be over-ridden on a per-sensor basis.
obstacle_range: 2.5
raytrace_range: 3.0

transform_tolerance: 0.2

# The radius in meters to which the map inflates obstacle cost values.
inflation_radius: .55
# A scaling factor to apply to cost values during inflation.
cost_scaling_factor: 10.0

observation_sources: laser_scan_sensor
update_frequency: 5.0
publish_frequency: 0.0

laser_scan_sensor: {sensor_frame: hokuyo, data_type: LaserScan, topic: /udacity_bot/laser/scan, marking: true, clearing: true}
